.thumbnail {
    opacity: 1.0;
    width: 28%;
    /* background-color: yellow; */
    transition: opacity 0.2s ease-out;
    transition: scale 0.2s ease-out;
    margin: 1% 1%;
    border-radius: 1%;
    flex-shrink: 0;
    min-width: 500px;
}

.thumbnail img {
    max-width: 100%;
}

.thumbnail:hover {
    opacity: 1.0;
    transform: scale(1.1);
}