.icon {
    height: 20%;
    width: 20%;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease-out;
    z-index: 100;
}

.icon-opaque {
    opacity: 1.0;
    /* background: #998091; */
}

.icon-transparent {
    opacity: 0.2;
}