.splash {
    display: flex;
    flex-direction: row;
    /* main axis (horizontal) */
    justify-content: center;
    /* cross axis (vertical) */
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    /* width: 20%; */
}

.splash img {
    max-width: 250px;
    min-width: 100px;
    /* height: 30%; */

}

@media (width < 600px) {
    .splash {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}