.splash-container {
    display: flex;
    flex-direction: column;
    /* main axis (horizontal) */
    justify-content: center;
    /* cross axis (vertical) */
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.splash {
    max-width: 200px;
    min-width: 100px;
    /* height: 30%; */

}

.splash img {
    max-width: 100%;
}